---
import Header from '../../components/Header'
import ProductHeader from '../../components/ProductHeader'
import ProductSubMenu from '../../components/ProductSubMenu'
import Footer from '../../components/Footer'
import productGrid from '../../assets/sensor-grid-Opt.jpg'
import whitePhone from '../../assets/white-phone.svg'
import floodSensorFloor from '../../assets/flood/floodSensorFloor.png'
import floodDetecor from '../../assets/flood/floodDetector.png'
---


<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="../../AlderFavicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Don't let a small problem, such as a small leak, turn into a huge disaster. Get Alder’s water leak detector to help prevent flood damage."
        />
        <meta name="generator" content={Astro.generator} />
        <title>Water Leak Detector | Alder Home Security</title>
    </head>
    <body class="bg-white flex flex-col items-center justify-center">

        <Header client:load path="/products/flood" />

        <ProductHeader path="/products/flood" />

        <div class="w-full h-[350px] bg-center bg-cover flex flex-col justify-center items-center px-2 sm:items-start sm:pl-12 md:pl-24 lg:pl-40 gap-6" style={{
            'backgroundImage': `url(${productGrid})`,
        }}>

        <h1 class="text-[#297CA3] text-4xl xs:text-5xl text-center font-medium">Flood Sensor</h1>

        <p class="text-[#58585B] text-center">Protect Your Home From Water Damage</p>

        <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 bg-[#168359] hover:bg-[#13724e] w-[240px] py-1 rounded-3xl border-2 z-10 border-white">
            <img alt="phone icon" src={whitePhone}/>
            <p class="text-white text-[15px]">Call Now for a Quote</p>
        </a>

        </div>

        <div class="w-full flex flex-col-reverse items-center md:flex-row justify-between gap-8 py-6 md:py-0 md:gap-0">

            <div class=" w-full md:w-1/2 flex flex-col gap-4 px-4 md:pl-10 ">
                <h2 class="text-[#58585B] text-2xl lg:text-3xl font-medium text-center md:text-left">Avoid A Potential Disaster</h2>
                
                <p class="text-[#58585B] text-center md:text-left xl:leading-7" >Don't let a small problem, such as a small leak, turn into a huge disaster. The flood sensor can help prevent flood damage by detecting the presence of standing in an area. When as little as 1/16 inch of water covers the device's probe you will get a warning, so you can shut off the water and minimize damage to your home.</p>
            </div>

            <img class=" max-w-[60%] sm:max-w-[45%] sm:max-h-[525px]" alt="flood detector" src={floodDetecor} />

        </div>

        <div class="w-full flex flex-col items-center md:flex-row justify-between gap-8 py-6 lg:py-0 md:gap-0 bg-[#F3F3F3]">

            <img class=" w-3/4 md:w-1/2 " alt="flood detector inbetween water heaters" src={floodSensorFloor} />

            <div class=" w-full md:w-1/2 flex flex-col gap-4 px-4 md:px-8">
                <h2 class="text-[#58585B] text-2xl lg:text-3xl font-medium text-center md:text-left">Get Notified, Take Action</h2>
                
                <p class="text-[#58585B] text-center text-sm leading-6 xl:leading-7 md:text-left " >Whether it's a broken pipe that floods your entire basement or a leaking appliance in your home, water damage can be a tragedy and an emotionally trying experience. 9 gallons per minute alone can ruin your entire residence. With this sensor, we are introducing a revolutionary new way to notify you if there is a water leak. Help prevent flood damage using a water-detecting flood sensor.</p>
            </div>

        </div>

        <ProductSubMenu client:load path="/products/flood" />

        <br/>
        <br/>

        <div class="w-full flex flex-col items-center bg-[#297CA3] gap-4 px-4 py-12">

            <h2 class="text-white text-5xl font-medium text-center">How it works</h2>
            <p class="text-white text-center text-lg" >Securing your home has never been easier</p>

            <div class="w-full flex flex-col items-center gap-8 md:gap-0 md:flex-row justify-between px-2 py-4">

                <div class="flex flex-col items-center w-full md:w-[30%] gap-4">

                    <h3 class="text-white text-2xl font-medium text-center" >Request a Quote</h3>

                    <p class="text-white text-sm text-center">Our home security professionals help you get exactly what you need and always give you the best price.</p>

                </div>

                <div class="flex flex-col items-center w-full md:w-[30%] gap-4">

                    <h3 class="text-white text-2xl font-medium text-center" >Setup Your System</h3>

                    <p class="text-white text-sm text-center">When your package arrives, follow the setup instructions. It takes less than 10 minutes.</p>

                </div>

                <div class="flex flex-col items-center w-full md:w-[30%] gap-4">

                    <h3 class="text-white text-2xl font-medium text-center" >Stay Safe</h3>

                    <p class="text-white text-sm text-center">You will have 24/7 monitoring and support. If you ever need help, just call.</p>

                </div>

            </div>

            <a href="tel:800-710-1289" class="flex items-center justify-center gap-2 bg-[#168359] hover:bg-[#13724e] hover:scale-105 transition duration-100 py-1 px-6 rounded-3xl border-2 z-10 border-white">
                <p class="text-white text-[15px]">Call Now</p>
            </a>

        </div>

        <Footer />

    </body>
</html>